@import "tailwindcss";
/* 
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */
body {
  font-family: 'Inter', sans-serif;
}
@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.95) translateY(-6px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-scaleIn {
  animation: scaleIn 0.18s ease-out;
}
